////////// Promenne ////////////
@import "vars";

////////// Napojeni fontu ////////////
@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.eot');
  src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }


  ////////// Mixiny ////////////
@mixin container {
  max-width: 1170px;
    width: 96%;
    margin: auto;
  
}

 ////////// Obecne styly ////////////
body {
    font-family: 'Helvetica Neue Cyr Medium', sans-serif;

}

img {
    max-width: 100%;
}

input {
  padding: 26px;
  padding-right: 95px;
  font-size: 10px;
  border-radius: 10px;
  border: solid 1px; color:#DDDDDD;
}


.container {
    max-width: 1170px;
    width: 96%;
    margin: auto;

    @media (max-width: 640px) {
      width: 85%;
    }
}


.button {
  background-color: $buttons;
  color: $accent;
  border: none;
}

////////// Vrchni lista ////////////

.header {
  padding: 20px 0px;

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }

  &__info {
    display: flex;
    text-align: right;
  }

  &__contacts  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 640px) {
      display: none;
      
    }
  }
  
  &__address {
    color: $accent;
    font-size: 13px;
    font-weight: 400;
  }

  &__phone {
    font-size: 20px;
    font-weight: 700;
    color: $accent;
    text-decoration: none ;
    display: block;
    margin-top: 5px;
  }

&__button {
  padding: 18px 47px;
  border-radius: 10px;
  margin-left: 30px;
  font-size: 13px;
}
}

////////// Hlavni sekce s nabidkou ////////////

.offer {
  padding: 92px 0px;
  background-color: $grey;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &-title {
    font-size: 41px;
    margin-right: 215px;
    color: $accent;
    margin-bottom: 45px;
    font-weight: 700;

    @media (max-width: 1180px) {
      margin-right: 20px;
      
    }
    @media (max-width: 640px) {
      font-size: 30px;
    }
    
  }

  &-text {
    width: 50%;
    @media (max-width: 1100px) {
      width: 100%;
      margin-bottom: 40px;
    }
   
  }

  &-img {
    width: 50%;
    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &-subtitle {

      font-size: 20px;
      font-weight: 700;
      color: $accent;
      margin-bottom: 80px;

      @media (max-width: 640px) {
        font-size: 20px;
        margin-bottom: 30px;
      }
      
  }
}

.item1 , .item2 , .item3 {
  display: flex;
  margin-bottom: 30px;
 
}

.icon {
  margin-right: 40px;
  max-height: 40px;
}

.span {
  width: 50%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: $accent;
}

////////// Sekce s formularem ////////////

.form {
  display: flex;

  &-text {
    margin: auto;
    max-width: 500px;

    @media (max-width: 1100px) {
      max-width: 90%;
    }

  }

  &-header {
    font-size: 24;
    margin-right: 50px;
    color: $accent;
    line-height: 1.5;
    font-weight: 700;
  }

  &-subtitle {
    margin-right: 200px;
    color: $accent;
    font-weight: 400;
    display: block;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  &-main {
    margin-left: 14vmax;
    @media (max-width: 1650px) {
      margin: auto;
    }

  }

  &-button {
    padding: 28px 123px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 700;
    color: $accent;
  }
}

.text-wrap {
  display: flex;
  margin-top: 30px;
}

.desc {
  width: 50%;
  font-size: 14px;
  margin-right: 100px;
  margin-top: 0px !important;
  color: $accent;
}

.desc-wrap {
  width: 50%

}

.call{
  font-size: 15px;
  font-weight: 400;
  margin: 0px !important;
  color: $accent;
}

.phone-number{
  margin: 0px !important;
  font-size: 15px;
  font-weight: 700;
  color: $accent;

}

.container-form {
  @include container();
  max-width: 50%;
}


.sideimage {
  opacity: 0.5;
  height: 600px;
  width: 960px;
  object-fit: cover;

}


////////// Sekce s projekty ////////////

.projects {
  background : radial-gradient(rgb(235, 235, 235) 1px, transparent 1px);
  background-size : 5px 5px;
  padding: 80px 0px;

  &__title {
    color: $accent;
    font-size: 30px;
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__image {
      width:  32%;
      margin-bottom: 30px;
     }
 
     &__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-arrows {
    display: flex;
    justify-content: center;

      &__image  {
        margin-left: 20px;
       
      }
  }
  
}

